img
{
    width: 700px;
    height: 500px;
}

h2 {
    color: white;
    font-size: 30px;
    padding: 50px;
    font-family:"Sports World";
}

table,
td {
    border: 2px solid #333;
    background-color: white;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}

table 
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}